<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet">

    <!--the rounded input box stuff-->
    <meta charset="utf-8">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1">
    <link rel="stylesheet" href=
    "https://unpkg.com/purecss@2.0.5/build/pure-min.css"
        integrity=
    "sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
        crossorigin="anonymous">

  </head>
  <body>

  <center>
    <h1>To Do</h1>
  </center>

  <style>
  .container {
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  </style>

  <div class="container">
    <div class="center">

    <form class="pure-form">
      <input
              type="text"
              class="pure-input-rounded"
              type="text"
              name="inputBox"
              placeholder="New Username"
              style="height:40px;font-size:14pt;">
    </form>
    <div style="height:2px;"><br></div>
    <form class="pure-form">
      <input
              type="password"
              class="pure-input-rounded"
              type="text"
              name="inputBox"
              placeholder="New Password"
              style="height:40px;font-size:14pt;display: inline;">
    </form>
    <center><button class="button button3">Submit</button></center>


    </div>
  </div>

  </body>
</html>

