<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://kit.fontawesome.com/ae3b8f831c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />

    <script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>
</head>


<body>
    <div class="container">
        <header class="codrops-header">

            <h1>To-Do List</h1>

            <div class="steps-card">
                <p><strong>1.</strong> 1</p>
            </div>
            <div class="steps-card">
                <p><strong>2.</strong> 2</p>
            </div>
            <div class="steps-card">
                <p><strong>3.</strong> 3</p>
            </div>

        </header>
        <div class="content">
            <footer>Made by Bob <a href="google.com"
                target="none">2</a>
        </footer>

    </div>


</div>
<script>