<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <link href="../static/css/styles.css" type="text/css" rel="stylesheet">

    <!--the rounded input box stuff-->
    <meta charset="utf-8">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1">
    <link rel="stylesheet" href=
    "https://unpkg.com/purecss@2.0.5/build/pure-min.css"
        integrity=
    "sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
        crossorigin="anonymous">

  </head>
  <body>

  <div class="header">
    <p align="right"><a href="/logout" class="button button3">Logout</button></a></p>
    <h1>To Do</h1>

  </div>


  <!--
    lists
  -->
  <p align="center"><button onclick="showContent()">Add To-Do</button></a></p>
  
  <template>
    <div class="container">
      <div class="left">
  
      <form class="pure-form">
  
        <input
                type="text"
                class="pure-input-rounded"
                type="text"
                name="inputBox"
                placeholder="Course"
                style="height:40px;font-size:14pt;">
  
      <input 
        type="text"
        class="pure-input-rounded"
        type="text"
        name="inputBox"
        placeholder="ASMT"
        style="height:40px;font-size:14pt;">   
        <div style="height:2px;"><br></div>
  

      <div style="height:2px;"><br></div>
      <input type="date" id="start" name="trip-start"
      value=today
      min="today" max=2050-12-31>
      </form>
  </template>
  
  <script>
    function showContent() {
      var temp = document.getElementsByTagName("template")[0];
      var clon = temp.content.cloneNode(true);
      document.body.appendChild(clon);
    }
    </script>

  </body>
</html>

<button class="button button5"></button>